{{- $s := site.Params }}
{{- $p := .Params }}
{{- $codeBlockConfig := partial "func/getCodeBlockSettings" . }}
{{ $baseUrl := .Page.Permalink}}

<!DOCTYPE html>
<html lang="{{ .Lang }}" data-figures="{{ $p.figurePositionShow }}" {{ if .IsPage }} class="page" {{ else if .IsHome }}
  class="home" {{ end }} {{ with $s.enforceLightMode }} data-mode="lit" {{ end }} {{ with $s.enforceDarkMode }}
  data-mode="dim" {{ end -}}>
<script>
  window.scrollTo(0, scrollPosition);


</script>
<script src="js/jquery-1.11.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/wow.min.js"></script>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">



  {{- partial "head" . }}
  {{- partial "hooks/head-end" . }}
</head>

<body data-code="{{ $codeBlockConfig.max }}" data-lines="{{ $codeBlockConfig.lines }}" id="documentTop"
  data-lang="{{ .Lang }}">
  {{- partialCached "scripts/google/tag-manager" (dict "noscript" true) }}
  
  {{- if ne .Page.Permalink .Site.BaseURL }}
  {{- partial "header" . }}
  {{- end}}
  <main>
    {{- block "main" . }}{{ end }}
  </main>

  {{- partialCached "icons" . }}
  {{- partialCached "footer" . }}
  {{- partialCached "scripts/index" . }}
  {{- partialCached "hooks/body-end" . }}
</body>

</html>