{{- $s := .Site.Params }}
{{- $c := default .Site.Title .Site.Copyright }}
{{- if or .Params.enableMathNotation $s.enableMathNotation }}
{{ partialCached "math" . }}
{{- end }}
{{- $iconsDir := default "icons/" .Site.Params.iconsDir }}
{{- $defaultFooterLogo := printf "%s%s" $iconsDir "logo2.png"}}
<footer class="footer">
  <div class="footer_inner wrap pale">
    <!-- <img src='{{ absURL (default $defaultFooterLogo $s.footerLogo) }}' class="icon icon_2 transparent" alt="{{ $c }}"> -->
    <div class="elements">
      <div class="connect">
        <h5><a href="#">Connect</a></h5>
        <p><a href="#">info@cyberbae.com</a></p>
        <p><a href="#">Like us on Facebook</a></p>
        <p><a href="#">Follow us on Instagram</a></p>
        <p><a href="#">Check out our Pins on Pinterest</a></p>
        <p><a href="#">Watch us on YouTube</a></p>
      </div>
      
      <div class ="Courses">
        <h5><a href="#">Courses</a></h5>
        <p><a href="#">Course Packages</a></p>
        <p><a href="#">Financing</a></p>
        <p><a href="#">Scholarships</a></p>
        <p><a href="#">Jobs</a></p>

      </div>
      <div class ="Company">
        <h5><a href="#">About</a></h5>
        <p><a href="#">Blog</a></p>
        <p><a href="#">Privacy</a></p>
        <p><a href="#">Terms of Use</a></p>
        <p><a href="#">Code of Conduct</a></p>
        <p><a href="#">Affiliate Program</a></p>
      </div>
      <div class ="Company">
        <p><a href="#">2024 @Cyber Bae Inc. All Rights Reserved</a></p>
       
      </div>


    </div>
    {{- partialCached "top" .}}
  </div>
</footer>