<div class="course_title">

    <img src="../images/cybersecurity.png">

    <h1>Kickstart your career as a<b class="highlightRed">
            Cybersecurity Specialist
        </b></h1>

    <h3>
        The digital world is booming, but so are the threats lurking within. Hackers are getting clever, but <b
            class="highlightRed">YOU</b> can be smarter. Get the in-demand skills and industry edge you need to launch
        your cybersecurity career with our affordable Cybersecurity Bootcamp.
    </h3>

    <h3>
        <b class="highlightRed">No prior experience? No problem! </b>
        Our immersive program is designed for beginners like you, providing the foundational knowledge and practical
        skills to thrive in this exciting field.
    </h3>

</div>

<style>
    img {
        width: 50%;
        margin: 0px auto;
    }
    .course_title {
        width: 80%;
        margin: 5% auto;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 625px) {
            display: block;

            img {
                width: 100%;


            }
            h1 {
                font-size: 180% !important;
            }

            .highlightRed{
                font-size: 120%;
            }

        }

        h1 {
            font-size: 250%;

        }
        p {
            font-size: 120%;
            margin-bottom: 10%;
        }
    }

    .highlightRed{
        font-weight: bold;
        color: #9a3587;
        font-size: 150%;
    }
</style>